#btn1, #btn2, #btn3, #btn4 {
	font-family: "PT Sans Narrow";
	font-weight: 100;
	font-size: 20px;
			top: 120px;
			left: 50px;
      background: #333;
      padding-right: 26px;
      /*border-radius: 3px;*/
      border: none;
      color: white;
      margin: 0;
      padding: 0 12px;
      width: 120px;
      cursor: pointer;
      height: 40px;
    }

#btn1:hover {
  background-color: #928f8f;
}
#btn2:hover {
  background-color: #928f8f;
}
#btn3:hover {
  background-color: #928f8f;
}
 #btn4:hover {
  background-color: #928f8f;
}
